annotated-types==0.7.0
async-timeout==4.0.3
asyncpg==0.29.0
gitdb==4.0.11
GitPython==3.1.41
greenlet==3.1.0
grpcio==1.65.5
grpcio-tools==1.65.5
numpy==2.1.1
pgvector==0.2.5
protobuf==5.27.3
psycopg2==2.9.9
pydantic==2.9.1
pydantic_core==2.23.3
python-dotenv==1.0.1
RG==0.0.75
smmap==5.0.1
SQLAlchemy==2.0.27
sqlmodel==0.0.16
typing_extensions==4.12.2
